.aboutme-container {
  padding: 3rem;
  max-width: 1280px;
}

.aboutme-container > h1 {
  color: rgb(22, 59, 123);
  font-weight: 500;
  font-size: 30px;
}

.aboutme-container > h2 {
  color: rgb(22, 59, 123);
  font-weight: 500;
  font-size: 25px;
  margin-top: 15px;
}

.aboutme-container > h3 {
  color: rgb(22, 59, 123);
  font-weight: 400;
  font-size: 20px;
  margin-top: 15px;
}

.aboutme-container > p {
  font-size: 18px;
  margin-top: 10px;
}

.social-icons {
  margin-top: 10px;
}

.social-icon-link {
  color: black;
}

@media screen and (max-width: 1280px) {
  .aboutme-container {
    padding: 3rem 4rem;
  }

  .aboutme-container > h1 {
    font-size: 30px;
  }

  .aboutme-container > h3 {
    font-size: 20px;
  }

  .aboutme-container > p {
    font-size: 16px;
  }
}

@media screen and (max-width: 1024px) {
  .aboutme-container {
    padding: 2rem 3rem;
  }

  .aboutme-container > h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 20px;
  }

  .aboutme-container > h3 {
    font-size: 15px;
  }

  .aboutme-container > p {
    font-size: 14px;
  }
}

@media screen and (max-width: 960px) {
  .aboutme-container {
  }
  .aboutme-container > h1 {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .aboutme-container {
    padding: 2rem 1rem;
  }

  .aboutme-container > h1 {
    font-size: 25px;
  }

  .aboutme-container > h3 {
    font-size: 15px;
  }

  .aboutme-container > p {
    font-size: 14px;
  }
}
