.game-details {
  padding: 3rem;
  max-width: 1280px;
}

.game-details > h1 {
  color: rgb(22, 59, 123);
  font-weight: 500;
  font-size: 30px;
}

.game-details > h2 {
  font-weight: 500;
  font-size: 15;
  margin-top: 10px;
}

.game-details > h3 {
  margin: 10px 0px;
  font-weight: 500;
}

.game-details > p {
  font-size: 18px;
}

.ratings-container {
  display: flex;
  justify-content:space-around;
  margin-top: 25px;
}

.ratings-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ratings-item > p {
  font-size: 25px;
  font-weight: bold;
}

.ratings-item > p  > .star {
  color: gold;
}

.ratings-item > p  > .fire {
  color: red;
}

@media screen and (max-width: 1280px) {
  .game-details {
    padding: 3rem 4rem;
  }

  .game-details > h1 {
    font-size: 30px;
  }

  .game-details > h3 {
    font-size: 20px;
  }

  .game-details > p {
    font-size: 16px;
  }
}

@media screen and (max-width: 1024px) {
  .game-details {
    padding: 2rem 3rem;
  }

  .game-details > h1 {
    font-size: 25px;
  }

   h2 {
    font-size: 20px;
  }

  .game-details > h3 {
    font-size: 15px;
  }

  .game-details > p {
    font-size: 14px;
  }

  .ratings-item > p {
    font-size: 20px;
    font-weight: bold;
  }
}

@media screen and (max-width: 960px) {
  .game-details {
  }
  .game-details > h1 {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .game-details {
    padding: 2rem 1rem;
  }

  .game-details > h1 {
    font-size: 25px;
  }

  

  .game-details > h3 {
    font-size: 15px;
  }

  .game-details > p {
    font-size: 14px;
  }
}
