.hero-container {
  background-color: #060606;
  height: 700px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  
}

.hero-content {
  width: 100%;
  max-width: 1280px;
  height: 100%;
  position: relative;
}

.hero-image {
  width: 100%;
  max-width: 1280px;
  height: 100%;
  opacity: 0.7;
}

.hero-context {
  color: white;
  position: absolute;
  top: 220px;
  left: 3rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero-context > h1 {
  font-size: 65px;
  font-family: "Bebas Neue", sans-serif;
  color: gold;
}

#gold{
  color:gold
}

/* button */
.pushable {
  background: hsl(340deg 100% 32%);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  margin-top: 10px;
}

.front {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: hsl(345deg 100% 47%);
  color: white;
  transform: translateY(-6px);
}

.pushable:active .front {
  transform: translateY(-2px);
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 960px) {
}

@media screen and (max-width: 768px) {
  .hero-container {
    height: 500px;
  }

  .hero-context {
    top: 50%;
    left: 50%;
    right: 0%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero-context > h1 {
    font-size: 35px;
  }
}
