.swiper-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swiper {
  width: 1000px;
  height: 500px;
  padding: 10px;
}

.swiper-item > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 1rem;
}

@media screen and (max-width: 1024px) {
  .swiper {
    width: 900px;
    height: 450px;
  }
}
@media screen and (max-width: 960px) {
  .swiper-container > h1 {
    font-size: 30px;
  }
  .swiper {
    width: 800px;
    height: 400px;
  }
}

@media screen and (max-width: 768px) {
  .swiper-container > h1 {
    font-size: 25px;
  }
  .swiper {
    width: 380px;
    height: 250px;
  }
}
